{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block styles %}
    <style>
        .center {
            text-align: center;
        }
    </style>
{% endblock %}

{% block scripts %}
     <script src="https://www.google.com/recaptcha/api.js"></script>
     <script>
        $('.otree-btn-next').hide();
         function onCaptchaSolve(token) {
             $('.otree-btn-next').show();
         }
     </script>
{% endblock %}

{% block content %}
    <p>
        Thank you for participating.<br>
        If you read these rules carefully and choose wisely, you can earn up to US$ 3.50 by participating in a game that involves other participants.
    </p>
    <p>
       Completing this task will take about 7 minutes and it is important that you pay close attention.
    </p>
    <p>
        The task involves two participants: An <b>active</b> participant who makes decisions and a <b>passive</b> participant who does not make decisions. Both participants receive payments that are determined by the active participant’s decision and by chance. The task involves two participants: An active participant who makes decisions and a passive participant who does not make decisions. Both participants receive payments that are determined by the active participant’s decision and by chance. 
    </p>
    <p>
        The task has four stages:
    </p>
    <div class="center">
        <img height="150" src="{% static "v3_shared/room_diagram.png" %}"/>
    </div>
    <p>
        <b>First</b>, active participants take a small <b>quiz</b> about the game. 
    </p>
    <p>
        <b>Then</b> active participants are matched with a co-player, which is a computer, and the <b>first round</b> of the game is played. 
    </p>
    <p>
        <b>Thereafter</b>, active participants are matched anew with a computer co-player and the <b>second round</b> of the game is played.
    </p>
    <p>
        <b>Finally</b>, all participants are asked to fill out a short <b>survey</b>.
    </p>
    <p>
        Note that only one of the two rounds will be selected for payment at random. 
    </p>
    <p>
        Payments earned by the computer co-player go to the <b>passive</b> participant who is not taking any active decision in the game.
    </p>

    <p>Please solve the captcha below to continue with the study.</p>
    <div class="g-recaptcha" data-sitekey="6Lfy68UUAAAAAIWXmj49LvzA0vv3iZ_QgTIcEpuB" data-callback="onCaptchaSolve"></div>
    

    {% next_button %}
{% endblock %}


