{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Quiz (1/2)
{% endblock %}

{% block styles %}
    <style type="text/css">
        .correct {
            color: #339966;
        }
        .incorrect {
            color: #ff0000;
        }
    </style>
{% endblock %}

{% block content %}
    <div align="center">
        <img height="150" src="{% static 'v3_shared/room_diagram_quiz.png' %}">
    </div>
    <p>
        Welcome to the quiz. <br>
        Here you have the chance to check whether you have properly understood the rules of the game. Please answer the following questions.
    </p>

    {% formfield 'c1_coplayer' %}
    <p class="correct" id="c1_correct">Correct!</p>
    <p class="incorrect" id="c1_error">
        <span class="incorrect">Wrong! Please read this part of the instructions again and correct your answer:</span><br/>
        <em>
            You are matched with a co-player, which is a computer, and the first round of the game is played. <br>
            Thereafter, you are matched anew with a computer co-player and the second round of the game is played.
        </em>
    </p>
    
    
    <hr/>
    {% formfield 'c2_partner' %}
    <p class="correct" id="c2_correct">Correct!</p>
    <p class="incorrect" id="c2_error">
        <span class="incorrect">Wrong! Please read this part of the instructions again and correct your answer:</span><br/>
        <em>
            The payment earned by your computer co-player goes to another human participant who is passive and not taking any active decision in the game.
        </em>
    </p>
    
    <hr/>

    {% formfield 'c3_probabilities' %}
    <p class="correct" id="c3_correct">Correct!</p>
    <p class="incorrect" id="c3_error">
        <span class="incorrect">Wrong! Please read this part of the instructions again and correct your answer:</span><br/>
            <em>
                The co-player's action is programmed to be A in about 60 out of 100 cases and B in about 40 out of 100 cases.
            </em>
    </p>
    <hr/>

    {% formfield 'c4_decision_importance' %}
    <p class="correct" id="c4_correct">Correct!</p>
    <p class="incorrect" id="c4_error">
        <span class="incorrect">Wrong! Please read this part of the instructions again and correct your answer:</span><br/>
            <em>
                Note that only one of the two rounds will be selected for payment at random. As it is unknown which of the two rounds counts, it is important to pay equally close attention to both.
            </em>
    </p>
 
    <p>
        <button type="button" class="btn btn-primary" id="check_answers_button">Check answers</button>
    </p>
    {% next_button %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(".otree-btn-next").hide();
        
        let c1_solution = {{ c1_solution|json }};
        let c2_solution = {{ c2_solution|json }};
        let c3_solution = {{ c3_solution|json }};
        let c4_solution = {{ c4_solution|json }};
                
        $('#c1_error').hide();
        $('#c1_correct').hide();
        $('#c2_error').hide();
        $('#c2_correct').hide();
        $('#c3_error').hide();
        $('#c3_correct').hide();
        $('#c4_error').hide();
        $('#c4_correct').hide();
        
        $("#check_answers_button").click(function(e) {
            let c1 = $("input:radio[name='c1_coplayer']:checked").val();
            let c2 = $("input:radio[name='c2_partner']:checked").val();
            let c3 = $("input:radio[name='c3_probabilities']:checked").val();
            let c4 = $("input:radio[name='c4_decision_importance']:checked").val();
            
            if (c1 != c1_solution) {
                $('#c1_error').show();
                $('#c1_correct').hide();
            } else {
                $('#c1_error').hide();
                $('#c1_correct').show();
            }
            
            if (c2 != c2_solution) {
                $('#c2_error').show();
                $('#c2_correct').hide();
            } else {
                $('#c2_error').hide();
                $('#c2_correct').show();
            }
            
            if (c3 != c3_solution) {
                $('#c3_error').show();
                $('#c3_correct').hide();
            } else {
                $('#c3_error').hide();
                $('#c3_correct').show();
            }
            
            if (c4 != c4_solution) {
                $('#c4_error').show();
                $('#c4_correct').hide();
            } else {
                $('#c4_error').hide();
                $('#c4_correct').show();
            }
            
            if (c1 == c1_solution & c2 == c2_solution & c3 == c3_solution & c4 == c4_solution) {
                $('#check_answers_button').hide();
                $('.otree-btn-next').show();
            }

        });
        
    </script>
{% endblock %}