{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questions
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "global/bootstrap-slider.min.css" %}"/>
{% endblock %}

{% block content %}
    <div align="center">
        <img src="{% static 'v3_shared/room_diagram_second_round.png' %}"  height="150">
    </div>
    <p>
        {% if player.switcher %}
            In round 2, why did you choose action {{ current_action }} and not action {{ first_round_action }} as in round 1?
        {% else %}
            In round 2, why did you choose action {{ current_action }} as you did in round 1?
        {% endif %}
    </p>
    <p>
        <input type="radio" id="id_motivation_0" name="motivation" value="1">
        {% if player.switcher %}
            <label for="id_motivation_0">Because I wish my action had been {{ current_action }} in round 1.</label>
        {% else %}
            <label for="id_motivation_0">Because I am glad that my action was {{ current_action }} in round 1.</label>
        {% endif %}
    <br>
        <input type="radio" id="id_motivation_1" name="motivation" value="2">
        <label for="id_motivation_1">Because my co-player played {{ current_action }} in round 1.</label>
    <br>
        <input type="radio" id="id_motivation_2" name="motivation" value="3">
        <label for="id_motivation_2">Because I wanted to choose the opposite of my co-player's action in round 1.</label>
    <br>
        <input type="radio" id="id_motivation_3" name="motivation" value="4">
        {% if player.switcher %}
            <label for="id_motivation_3">Because I wanted to learn something from trying the other action.</label>
        {% else %}
            <label for="id_motivation_3">Because nothing has changed.</label>
        {% endif %}
    <br>
        {% if player.switcher %}
             <input type="radio" id="id_motivation_4" name="motivation" value="5">
             <label for="id_motivation_4">Because I have changed my opinion on what the best action is.</label>
            <br>
        {% endif %}

        <input type="radio" id="id_motivation_5" name="motivation" value="6">
        <label for="id_motivation_5">Other (please specify): </label>
        <input type="text" id="id_motivation_other" name="motivation_other">
    </p>
    {% next_button %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $("#id_motivation_other").on('focus', function(e) {
            $('#id_motivation_5').prop("checked", true);
        });
    </script>
{% endblock %}