<script src="https://assets.crowd.aws/crowd-html-elements.js"></script>

<crowd-form>
    <div style="padding: 20px">
        <p>
            Please read this carefully before clicking ‘accept’. <br>
            This HIT is an academic research study on decision making.
        </p>
        <p>
            Research goal: <br>
            In this study, we are interested in decision making under uncertainty. You will be matched with co-players and you will be asked to take a decision.
        <p>
            Duration and reward: <br>
            The entire study will take about 10 minutes. Your payment consists of a fixed reward of $0.50 via Amazon Mechanical Turk for successful completion and a bonus that depends on your and the co-players’ decisions as well as on chance. You are also asked to complete a short and anonymous survey. 
        </p>
        <p style="font-weight: bold; text-align: center;">
            Please note that the task should be completed without delay.
        </p>
        <p>
            Confidentiality: <br>
            All data we collect is treated confidentially and will only be used for our research purpose. Your name will not be linked to the results in any way.
        </p>
        <p>
            Requirements:<br>
            To participate, you need to be located in the United States of America. You may not have participated in this study before.  <b>After reading the instructions, there will be a short comprehension quiz. For successful completion of the HIT you need to pass this test.</b> There are no other formal requirements for participation.
        </p>
        <p>
            Voluntary participation:<br>
            Participation in this study is voluntary. If you do not want to take part in the study, please do not accept the HIT. If you want to participate, please be sure you can commit to completing the HIT before accepting it - if you discontinue participation, you will not receive any bonus.
        </p>
        <p>
            Contact:<br>
            If you have any questions regarding this study, please contact Christian Koenig <a href="mailto:christian.koenig@uibk.ac.at">christian.koenig@uibk.ac.at</a>.
        </p>
        <p>
            After you have accepted this HIT, the URL to the study will appear here:
            <b><a class="otree-link">link</a></b>.
        </p>
        <p>On the last page, you will be given a completion code. Please copy/paste that code below.</p>

        <crowd-input name="completion_code" label="Enter your completion code here" required></crowd-input>
        <br>
    </div>
</crowd-form>