{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Second round: Results
{% endblock %}

{% block content %}
    <div align="center">
        <img src="{% static 'v3_shared/room_diagram_second_round.png' %}" height="150">
    </div>
    <p>
        Your action was <b>{{ own_action }}</b>.<br>
        Your co-player's action was <b>{{ others_action }}</b>.<br>
        The ball drawn from the urn was <b>{{ ball_color }}</b>.<br>
    </p>
    <p>
        As a result you earned <b>{{ player.room_payoff_r2 }}</b> if this round is selected for payment.
    </p>
    {% next_button %}
{% endblock %}


